<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings>
<add 
    name="ToDoDB"
    connectionString="Server=(local);user id=dbuser;password=Secret; initial catalog=ToDo; MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
 </connectionStrings>

   <appSettings>
      <add key="Application Name" value="Awesome App" /> 
   </appSettings>
</configuration>
